*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --cor-amarelo:#FCE51F;

}
header img{
    width: 100px;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.motos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
}

.biz img, .bros img{
    width: 160px;
}


.biz, .bros{
    border: solid black 2px;
    padding: 20px;
    border-radius: 20px;
    width: 190px;
}

 button{
    background-color: var(--cor-amarelo);
    color: black;
    padding: 10px;
    border: none;
    border-radius: 20px;
}


.meio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: rgb(220, 220, 220);
}

.formulario input {
    display: block; 
    padding: 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--cor-amarelo);
    border-radius: 10px;
    width: 350px;
    margin-bottom: 10px;
    margin: 10px auto;
}
.formulario{
    padding: 15px;
}

.formulario, .atualizar, .adicionar{
    text-align: center;
}