*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
:root{
    --cor-amarelo:#FCE51F;

}
header img{
    width: 100px;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
header .NavHeader {
    justify-content: end;
    display: flex;
    align-items: center;
}

header .NavHeader a{
    font-size: 15px;
}
    
header .NavHeader a {
    text-decoration: none;
    color: white;
    padding: 15px;
}

header .NavHeader a:hover {
    background-color: var(--cor-amarelo);
    border-radius: 20px;
    padding: 15px;
    color: black;
    border-radius: 20px;
}
main{
    padding: 15px;
}

.biz img{
    width: 160px;
}

.biz{
    border: solid black 2px;
    padding: 20px;
    border-radius: 20px;
    width: 190px;
}

 button{
    background-color: var(--cor-amarelo);
    color: black;
    padding: 5px;
    border: none;
    border-radius: 15px;
}